<!DOCTYPE html>

<html ng-app="add-player">
<head>
</head>
<body>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<link rel="stylesheet" type="text/css" href="design.css" />


<div class="main" ng-controller="PlayerController as players">
<h1 >Enter your Name and Score:</h1>
<ul ng-repeat="player in players.entries">

<li ng-hide="player.deleted">
<p>Name:{{player.name}}
<section ng-controller="EditController as editCtrl">
Score:<span ng-show="editCtrl.value()===1">{{player.score}}</span>
<button ng-show="editCtrl.value()===1" ng-click="editCtrl.click()">edit score</button>
<div ng-show="editCtrl.value()===0">
<input ng-model="players.score" type="number">
<button  ng-click="editCtrl.click()">Submit</button>
</div>
<button ng-click="player.deleted = true">delete</button>
</section>
</p>
</li>

</ul>
<div   ng-controller="FormController as FormCtrl" >
<form name="form1" ng-submit="(form1.$valid && FormCtrl.addEntries())" novalidate>
<input ng-model="FormCtrl.entry.name" type="text" placeholder="Name" required />
<input ng-model="FormCtrl.entry.score" type="number" placeholder="Score" required />
<input type="submit">

</form>
</div>

</div>


</body>
</html>
