<!DOCTYPE html>

<html ng-app="add-player">
<head>
</head>
<body>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>

<div ng-controller="PlayerController as players">
<ul ng-repeat="player in players.entries">
<li ng-hide="player.deleted">
Name:{{player.name}} <br/>
Score:{{player.score}}<button>edit</button><br/>
<button ng-click="player.deleted = true">delete</button>
</li>
</ul>

<div ng-controller="FormController as FormCtrl">
<form ng-submit="FormCtrl.addEntries()">
<input ng-model="FormCtrl.entry.name" type="text" /><br/>
<input ng-model="FormCtrl.entry.score" type="number" /><br/>
<input type="submit">
</form>
</div>

</div>


</body>
</html>
