<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
  
    <body class="container-fluid well" ng-app="add-player" ng-controller="LeaderboardController" ng-init="load()" >
        <h1 class="text-primary">Enter the player name and score:</h1>
        <form ng-show="showbuttons">
            <button class="btn btn-primary"  ng-click="sortbyname()">sort by name</button>
            <button class = "btn btn-primary" ng-click="sortbyscore()">sort by score</button>
        </form>
        <p>
            <ul style="list-style:none">
                <li ng-repeat="player in players">
                    <span style="font-size:20px"><strong>Name:</strong>{{player.name}}</span><br>
                        <strong>Score:</strong>{{player.score}}
                        <section ng-init="edit=0">
                            <button class="btn btn-primary" ng-click="edit=1" ng-hide="edit===1">Edit Score</button>
                            <form ng-show="edit===1" ng-submit="editPlayer(player,score)">
                                <input class = "form-control" type="number" ng-model="score"/>
                                <input class = "btn btn-primary" ng-click="edit=0" type="submit"/>
                            </form>
                           <form ng-submit="deletePlayer({{player.id}})">
                                <input class="btn btn-primary btn-danger" type="submit" value="delete"/>
                            </form> 
                        </section>
                </li>
            </ul>
        </p>
     
        <form name="submitform" ng-submit="request()" novalidate>
            <input class="" type="text" placeholder="name"  ng-model="name" required/>
            <input class="" type="number" placeholder="score" ng-model="score" required/>
            <input class = "btn btn-primary" type="submit"/>
            <div id="message"></div>
        </form>
    </body>

        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
</html>
